.todo-container {
    margin: 50px auto;
    width: 600px
}

.todo-container .todo-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: orange;
    margin-bottom: 20px;
}

.todo-form {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}


.todo-form input {
    background-color: rgb(250, 247, 247);
    padding: 15px;
    border-radius: 8px;
    color: white;
    border: none;

}

.todo-form button {
    background-color: rgb(68, 68, 228);
    padding: 15px 30px;
    border-radius: 8px;
    color: white;
    border: none;

}

.todo-data {
    margin-top: 15px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.788);
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ddd;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.todo-image {
    text-align: center;
    margin-top: 15px;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}